.enemy {
  position: absolute;
  width: 1.5%; /* proporcional al mapa */
  height: 1.5%; /* proporcional al mapa */
  background-color: red;
  color: white;
  font-size: 0.8vw; /* escala con pantalla */
  text-align: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.4s linear, top 0.4s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}