.map {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
}

.cell.grass {
  background-color: #4caf50;
}

.cell.path {
  background-color: #8d6e63;
}