.map {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-template-rows: repeat(100, 1fr);
  width: 100vw;
  height: 100vh;
}

.cell {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.cell.grass {
  background-color: #407b05;
}

.cell.path {
  background-color: #d2b48c;
}

.cell.tower {
  background-color: #4682b4;
}