.tower {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}