#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map {
  display: grid;
  grid-template-columns: repeat(100, 1fr); /* Cada celda ocupa una fracción */
  grid-template-rows: repeat(100, 1fr);
  width: 100vw;  /* Ocupa todo el ancho */
  height: 100vh; /* Ocupa todo el alto */
}

.cell {
  width: 100%;
  height: 100%;
}

.cell.grass {
  background-color: #4caf50; /* Césped */
}

.cell.path {
  background-color: #d2b48c; /* Camino */
}